<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="flashair_slideshow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <flashair_slideshow.Properties.Settings>
            <setting name="PictureFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="MinimumDisplaySeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaximumDisplaySeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ShowFileNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilenameExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.jpg</string>
                        <string>.jpeg</string>
                        <string>.png</string>
                        <string>.tif</string>
                        <string>.tiff</string>
                        <string>.gif</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Recursive" serializeAs="String">
                <value>True</value>
            </setting>
        </flashair_slideshow.Properties.Settings>
    </userSettings>
</configuration>